#topperMid{
    background-color:white;
    height:60px;
    margin-top: -10px;
    width: 960px;
    float: center;
    
}

#leftPad{
    background-color:white;
    height:60px;
    margin-top: -10px;
    float:left;
    
}

#rightPad{
    background-color:white;
    height:60px;
    margin-top: -10px;
    float:right;

}

h1{
   float:left;
    width: 25%;
    background-color:#4aaaa5;
    margin:0;
    height: 40px;
    padding:10px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a{
    float: right;
    text-align: center;
    width:10%;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top:20px;
    color:#777777;
}